#topNav {
  border-bottom: double #e8d82a;
  margin-bottom: 1rem;
}
#topNav .navbar-text {
  color: #462279;
  width: 100%;
}
#topNav .nav-item button {
  border: none;
  color: #462279;
}
#topNav .nav-item button:focus {
  box-shadow: none;
}
#topNav .nav-item button:focus > .dropdown-toggle:after {
  border-bottom: 3em solid;
  border-top: 0;
}
#topNav a.navbar-brand {
  color: #462279;
}
#topNav a {
  cursor: pointer;
  transition: 0.25s;
  color: #e8d82a;
}
#topNav form button.btn {
  color: #462279;
  border: solid thin #e8d82a;
  transition: 0.25s;
}
#topNav form button.btn:hover {
  background-color: #e8d82a;
  border: solid thin #462279;
}
#topNav .dropdown-menu {
  background-color: rgba(70, 34, 121, 0.9);
  padding: 0;
}
#topNav .dropdown-menu a {
  border-bottom: solid thin #e8d82a;
}
#topNav .dropdown-menu a:hover {
  color: #462279;
  background-color: #F5F5F5;
  border-bottom: solid thin #e8d82a;
}

#sidebarSec {
  display: none;
}
#sidebarSec button.action-btn {
  color: #e8d82a;
  border: solid thin #e8d82a;
  background-color: #222;
  transition: 0.25s;
}
#sidebarSec button.action-btn:hover {
  color: black;
  background-color: #e8d82a;
}

#sidebarHeader {
  border-bottom: solid thin #e8d82a;
}

#sidebarTitle {
  color: #e8d82a;
  display: inline;
}

#exitSidebarBtn {
  background: none;
  color: #e8d82a;
  line-height: 1;
  font-size: 2rem;
  padding: 0;
  border: none;
  float: right;
}
#exitSidebarBtn:hover {
  opacity: 0.8;
}
#exitSidebarBtn:focus {
  box-shadow: none;
}

#formSec {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: #222;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#submitBtnRow {
  display: none;
}

#formSec input.form-control {
  margin-bottom: 0.5rem;
}

button.btn-align-right {
  float: right;
}

.form-group {
  width: 100%;
}

#actionModal button.action-btn {
  color: #462279;
  border: solid thin #e8d82a;
  transition: 0.25s;
  background: transparent;
}
#actionModal button.action-btn:hover {
  background-color: #e8d82a;
  border: solid thin #462279;
}

#closeBtn {
  background-color: #bbb;
  color: #462279;
  border: solid thin #e8d82a;
}
#closeBtn:hover {
  background-color: #F5F5F5;
}

.modal-header {
  background-color: #462279;
  color: white;
}

.modal-header button.close {
  color: white;
}

#submitRow button {
  color: #e8d82a;
  border: solid thin #e8d82a;
  background-color: #222;
  transition: 0.25s;
}

.form-row button.btn {
  margin: auto;
}

.form-row:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.modal-button-sec .col:last-of-type button {
  float: right;
}

.form-group .check-input {
  margin-left: 0.5rem;
}

#formContainer {
  width: 75%;
  margin: auto;
  border: solid thin #e8d82a;
  border-radius: 0.5rem;
}
#formContainer button.action-btn {
  color: black;
  background-color: #e8d82a;
}
#formContainer button.action-btn:hover {
  color: #e8d82a;
  border: solid thin #e8d82a;
  background-color: #222;
  transition: 0.25s;
}

#formTitle {
  color: #462279;
  background-color: #ffffff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
}

#formContainer form {
  padding: 1rem;
}

#pipmap {
  float: right;
}
#pipmap .jqvmap-zoomin,
#pipmap .jqvmap-zoomout {
  width: 1rem;
  height: 1rem;
}

#addLocationBtn {
  border: none;
  margin-top: 1rem;
}
#addLocationBtn:hover {
  color: #e8d82a;
  border: solid thin #e8d82a;
  background-color: #222;
  transition: 0.25s;
}

#companyLocationsTags {
  padding: 0.5rem;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: #e8d82a;
  border-radius: 0.25rem;
  background-color: white;
  display: none;
}

.location-tag {
  background-color: #462279;
  width: fit-content;
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: inline-block;
}
.location-tag:not(:last-of-type) {
  margin-right: 0.5rem;
}
.location-tag p {
  display: inline-block;
  margin-bottom: 0;
}

.remove-location {
  border: none;
  background: none;
  color: white;
  font-size: xx-large;
  line-height: 0.5rem;
  margin-left: 0.5rem;
}

body {
  font-family: "Oswald", sans-serif;
  background: #F5F5F5;
  padding-bottom: 5rem;
}

button,
.btn {
  border-radius: 0.25rem;
}
button:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

#vmap {
  margin: auto;
}

.jqvmap-zoomin {
  top: 0;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
  background-color: #e8d82a;
  transition: 0.25s;
}
.jqvmap-zoomin:hover,
.jqvmap-zoomout:hover {
  opacity: 0.8;
}

.dropup-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-bottom: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-top: 0;
  border-left: 0.3em solid transparent;
}

.incomplete-field {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 5, 0.5);
  border-color: #ff0005;
}

/*# sourceMappingURL=style.css.map */
