#topNav {
  border-bottom: double #e8d82a;
  margin-bottom: 1rem;
}
#topNav .navbar-text {
  color: #462279;
  width: 100%;
}
#topNav .nav-item button {
  border: none;
  color: #462279;
}
#topNav .nav-item button:focus {
  box-shadow: none;
}
#topNav .nav-item button:focus > .dropdown-toggle:after {
  border-bottom: 3em solid;
  border-top: 0;
}
#topNav a.navbar-brand {
  color: #462279;
}
#topNav a {
  cursor: pointer;
  transition: 0.25s;
  color: #e8d82a;
}
#topNav form button.btn {
  color: #462279;
  border: solid thin #e8d82a;
  transition: 0.25s;
}
#topNav form button.btn:hover {
  background-color: #e8d82a;
  border: solid thin #462279;
}
#topNav .dropdown-menu {
  background-color: rgba(70, 34, 121, 0.9);
  padding: 0;
}
#topNav .dropdown-menu a {
  border-bottom: solid thin #e8d82a;
}
#topNav .dropdown-menu a:hover {
  color: #462279;
  background-color: #F5F5F5;
  border-bottom: solid thin #e8d82a;
}

#sidebarSec {
  display: none;
}
#sidebarSec button.action-btn {
  color: #e8d82a;
  border: solid thin #e8d82a;
  background-color: #222;
  transition: 0.25s;
}
#sidebarSec button.action-btn:hover {
  color: black;
  background-color: #e8d82a;
}

#sidebarHeader {
  border-bottom: solid thin #e8d82a;
}

#sidebarTitle {
  color: #e8d82a;
  display: inline;
}

#exitSidebarBtn {
  background: none;
  color: #e8d82a;
  line-height: 1;
  font-size: 2rem;
  padding: 0;
  border: none;
  float: right;
}
#exitSidebarBtn:hover {
  opacity: 0.8;
}
#exitSidebarBtn:focus {
  box-shadow: none;
}

#formSec {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: #222;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#submitBtnRow {
  display: none;
}

#formSec input.form-control {
  margin-bottom: 0.5rem;
}

button.btn-align-right {
  float: right;
}

.form-group {
  width: 100%;
}

#actionModal button.action-btn {
  color: #462279;
  border: solid thin #e8d82a;
  transition: 0.25s;
  background: transparent;
}
#actionModal button.action-btn:hover {
  background-color: #e8d82a;
  border: solid thin #462279;
}

#closeBtn {
  background-color: #bbb;
  color: #462279;
  border: solid thin #e8d82a;
}
#closeBtn:hover {
  background-color: #F5F5F5;
}

.modal-header {
  background-color: #462279;
  color: white;
}

.modal-header button.close {
  color: white;
}

#submitRow {
  float: right;
}

body {
  font-family: "Oswald", sans-serif;
  background: #F5F5F5;
}
body button,
body .btn {
  border-radius: 0.25rem;
}
body button:focus,
body .btn:focus {
  outline: none;
  box-shadow: none;
}

#vmap {
  margin: auto;
}

.jqvmap-zoomin {
  top: 0;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
  background-color: #e8d82a;
  transition: 0.25s;
}
.jqvmap-zoomin:hover,
.jqvmap-zoomout:hover {
  opacity: 0.8;
}

.dropup-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-bottom: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-top: 0;
  border-left: 0.3em solid transparent;
}

/*# sourceMappingURL=style.css.map */
