#formSec input.form-control {
    margin-bottom: .5rem;
}

button.btn-align-right {
    float: right;
}

.form-group {
    width: 100%;
}

 #actionModal button.action-btn {
    @include violet-btn;
    transition: 0.25s;
    background: transparent;
    &:hover {
        @include violet-btn-inverse;
    }
}

#closeBtn {
    background-color: #bbb;
    color: $spanish-violet;
    border: solid thin $sunflower-hex;
    &:hover {
        background-color: $white-smoke;
    }
}

.modal-header {
    background-color: $spanish-violet;
    color: white;
}

.modal-header button.close {
    color: white;
}

#submitRow {
    float: right;
}

.form-row button.btn {
    margin: auto;
}


.form-row:not(:last-of-type) {
    margin-bottom: .5rem;
}

.modal-button-sec .col:last-of-type button {
    float: right;
}

.form-group .check-input {
    margin-left: .5rem;
}

#formContainer {
    width: 75%;
    margin: auto;
    border: solid thin #e8d82a;
    border-radius: .5rem;
}

#formTitle {
    color: #462279;
    background-color: #ffffff;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 1rem;
}

#formContainer form {
    padding: 1rem;
}