#topNav {
  .navbar-text {
    color: $sunflower-hex;
    width: 25%;
  }
  .nav-item button {
    border: none;
    color: $sunflower-hex;
    &:focus {
      box-shadow: none;
    }
    &:focus > .dropdown-toggle:after {
      border-bottom: 3em solid;
      border-top: 0;
    }
  }
  a {
    color: $sunflower-hex;
    cursor: pointer;
    transition: .25s;
  }
  form button.btn {
    color: $sunflower-hex;
    border: solid thin $sunflower-hex;
    transition: .25s;
    &:hover {
        color: black;
        background-color: $sunflower-hex;
    }
  }
  .dropdown-menu {
      background-color: rgba(0,0,0,.85);
      padding: 0;
      a {
          border-bottom: solid thin $sunflower-hex;
          &:hover {
              color: black;
              background-color: $sunflower-hex;
              border-bottom: solid thin black;
          }
      }
  }

}
