#topNav {
  border-bottom: double $sunflower-hex;
  margin-bottom: 1rem;
  .navbar-text {
    color: $spanish-violet;
    width: 100%;
  }
  .nav-item button {
    border: none;
    color: $spanish-violet;
    &:focus {
      box-shadow: none;
    }
    &:focus > .dropdown-toggle:after {
      border-bottom: 3em solid;
      border-top: 0;
    }
  }
  a.navbar-brand {
    color: $spanish-violet;
  }

  a {
    cursor: pointer;
    transition: 0.25s;
    color: $sunflower-hex;
  }

  form button.btn {
    color: $spanish-violet;
    border: solid thin $sunflower-hex;
    transition: 0.25s;
    &:hover {
      @include violet-btn-inverse;
    }
  }
  .dropdown-menu {
    background-color: rgba(70, 34, 121, 0.9);
    padding: 0;
    a {
      border-bottom: solid thin $sunflower-hex;
      &:hover {
        color: $spanish-violet;
        background-color: $white-smoke;
        border-bottom: solid thin $sunflower-hex;
      }
    }
  }
}
