$sunflower-hex: #e8d82a;
$sunflower-rgba: rgba(232, 222, 42, 1);
$sunflower-hsl: hsla(55, 81%, 54%, 1);
$spanish-violet: #462279;
$spanish-violet-hsl: hsla(264, 53%, 33%, 1);
$body-font: "Oswald", sans-serif;
@mixin sunflower-btn {
  color: $sunflower-hex;
  border: solid thin $sunflower-hex;
  background-color: #222;
  transition: 0.25s;
}
@mixin sunflower-btn-inverse {
  color: black;
  background-color: $sunflower-hex;
}
