#companyListTable button:not(.company-name) {
    @include sunflower-btn-inverse;
    border: none;
    &:hover {
        @include sunflower-btn;
        border: none;
    }
}


#companyListTable button.company-name {
    border: none;
    background: none;
}

#companyListTable td.company-name-cell {
    cursor: pointer;
    &:hover {
        background-color: $sunflower-hex;
    }
}

#companyListTable .currently-hiring-cell {
    font-size: x-large;
    text-align: center;
    color: $spanish-violet;
}