@import "variables";
@import "topnav";
@import "sidebar";
@import "forms";

body {
  font-family: $body-font;
  background: $white-smoke;
  padding-bottom: 5rem;
}

button,
.btn {
  border-radius: 0.25rem;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

#vmap {
  margin: auto;
}

.jqvmap-zoomin {
  top: 0;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
  background-color: $sunflower-hex;
  transition: 0.25s;
  &:hover {
    opacity: 0.8;
  }
}

.dropup-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-bottom: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-top: 0;
  border-left: 0.3em solid transparent;
}

.incomplete-field {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 5, .5);
  border-color: rgba(255, 0, 5, 1);
}
