@import "variables";
@import "topnav";
@import "sidebar";

body {
    font-family: $body-font;
    background: #222;
    button,
    .btn {
        border-radius: .25rem;
    }
}

#vmap {
    margin: auto;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
    width: 1rem;
    height: 1rem;
    color: black;
    background-color: $sunflower-hex;
}